<div class="card m-3">
  <div class="card-header">
    <h3>{{post.title}}</h3>
  </div>

  <div class="card-body">
    <p>{{post.content}}</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    {{#if post.comments}} //make sure 
      {{#each post.comments as |comment|}}
        {{comment.comment_text}}
        <br />
        {{comment.user.username}} {{format_date comment.date_created}}
        {{!-- {{comment.formattedDate}} --}}
      {{/each}}
       {{/if}}
      <form id = "commentform">
        <input type="hidden" name="post_id" id = "post_id" value="{{post.id}}" />
        <div class="form-group">
          <label for="comment_text">Comment</label>
          <textarea
            class="form-control"
            id="comment_text"
            name="comment_text"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

   
  </div>
</div>
<script src="/javascript/comment.js"></script>